<div>
    <h1>Lista de Productos...</h1>
</div>

<div>
    <ul>
        {{#if products}}

        {{#each products}}
        <li>Producto: {{this.title}}</li>
        <p>Descripcion: {{this.description}}, Precio: {{this.price}}$</p>
        {{/each}}

        {{else}}
        <p>No se encontro ningun producto</p>
        {{/if}}
    </ul>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>